<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenke.digest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".core.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.shenke.digest.util.MyGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".core.SplashActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.NewsListActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".core.NewsDetailActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_news_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".core.ExtraNewsListActivity"
            android:configChanges="locale"
            android:label="@string/extra_news_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".core.MediaPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode|locale"
            android:label="@string/title_activity_media_player"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.SlideShowActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_slide_show"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".core.LocationActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_location"
            android:theme="@style/AppTheme">

        </activity>
        <!-- 有米渠道号(可选配置) 渠道号不能带空格，类型为整数 -->

       <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="0" >
        </meta-data >
        <!-- 有米SDK为了兼容Android N应用间共享文件行为变更而需要配置的FileProvider-->
        <!-- 这里主要为授予有米SDK拥有打开apk安装界面的功能-->
        <!-- 请务必修改 android:authorities 为贵应用的标识，一般为 包名.fileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.shenke.digest.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider >
        <activity
            android:name=".core.NativeVideoAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name" >
        </activity >

        <!--Translate-->
        <activity
            android:name="com.shenke.digest.translate.TranslateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/YouDaoTranslateStyle" >
        </activity>



        <activity
            android:name="com.shenke.digest.translate.TranslateDetailActivity"
            android:theme="@style/YouDaoTranslateStyle" >
        </activity>


    </application>

</manifest>